<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <div class="posts">
      <% include partials/top %>
<!-- main start-->

  <!-- views/posts/show.ejs -->
  <div class="show">
    <h3><%= data.title %></h3>
    <div class="time">Created at <br>
      <%= data.createdAt.toLocaleDateString() %> <br>
      <%= data.createdAt.toLocaleTimeString() %>
    </div>
    <% if(data.updateAt) < %>
      <div class="time">Update at <br>
        <%= data.updatedAt.toLocaleDateString() %> <br>
        <%= data.updatedAt.toLocaleTimeString() %>
      </div>
    <% } %>
    <p class="body"><%= data.body %><p>
    <div class="tools">
      <a href="/posts/<%=data.+id%>/edit"><button>Edit</button></a>
      <!-- Delete button here -->

    </div>
    <a href="/posts"><button>Back</button><a>
  </div>

<!-- main end -->
    </div><!-- posts end -->
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
